header {
    background: black;
    color: white;
    padding: 15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
}

main {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1px;
    row-gap: 3px;
    grid-template-rows: 1fr 1fr;
  }
  .grid {
    position: relative;
  }

  .grid-4 {
    grid-column: 1 / 3;
  }